* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: radial-gradient(#121920 0%, #000000 100%);
}

h1 {
  background: -webkit-linear-gradient(#000, #ffd700);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 10px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 8px;
  color: gold;
  margin: 0 0 10px;
}

p {
  padding-top: 10px;
  color: gold;
  margin: 0;
  font-weight: 100;
}

span {
  font-style: italic;
}

a {
  color: gold;
  text-decoration: none;
}

img {
  width: 100%;
}

input {
  padding: 15px 0;
  background: transparent;
  border: none;
  font-size: 16px;
  color: gold;
  margin: 30px auto;
  display: flex;
  width: 91%;
  max-width: 357px;
  margin: 15px;
}

input::placeholder {
  color: gold;
  letter-spacing: 3px;
  font-weight: 300;
  letter-spacing: 5px;
  width: 80%;
  display: block !important;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.back-arrow {
  width: auto;
  height: 40px;
  margin: 10px 0 0 10px;
  cursor: pointer;
}

.button-wrapper {
  padding: 15px;
}

.category-button {
  width: 100%;
  padding: 16px 12px;
  color: #fff;
  background: transparent;
  border: 1px solid gold;
  box-shadow: 6px 3px 12px gold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'lato', sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out 0s;
}

.category-button:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  width: 100%;
  padding: 15px;
}

.card {
  color: #fff;
  background: transparent;
  border: 1px solid gold;
  box-shadow: 6px 3px 12px gold;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

.character-detail {
  display: none;
  transition: all 0.4s ease-in-out;
}

.card:hover .character-detail {
  display: block;
  transition: all 0.4s ease-in-out;
}

.film-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.film-card {
  padding: 40px;
  max-width: 500px;
  box-shadow: 0 -10px 20px 20px #ffffff40 inset,
    0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
    0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
    0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.loader:before {
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border-bottom: 0 solid #ffffff05;
  box-shadow: 0 -10px 20px 20px #ffffff40 inset,
    0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
    0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
    0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
  filter: blur(3px);
  animation: 3s rotate linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .category-button {
    width: 300px;
  }
  .button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .back-arrow {
    margin: 30px 0 0 30px;
  }
  img {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  img {
    width: 500px;
  }
}
